# Data Verification

> Vidath Dissanayake | Sri Lanka
> [Activities of Data Processing](Activities%20of%20Data%20Processing.md)